In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"Test2.csv")

In [4]:
df.isna().sum()

Reviews    160
Outcome      0
dtype: int64

In [5]:
df.duplicated().sum()

1446

In [6]:
df= df.dropna()

Text preprocessing

In [7]:
import spacy

In [8]:
nlp= spacy.load("en_core_web_lg")

In [9]:
def tokenize(data):
    data=nlp(data)
    return " ".join([i.lemma_ for i in data if not i.is_stop and not i.is_punct])

In [10]:
df["Reviews"]=df["Reviews"].apply(func=tokenize)

C:\Users\Vishnu Gopan\AppData\Local\Temp\ipykernel_16680\1928714033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Reviews"]=df["Reviews"].apply(func=tokenize)

In [12]:
df["Outcome"].value_counts()

Outcome
0    199923
1    199917
Name: count, dtype: int64

In [13]:
df.sample()

                                                  Reviews  Outcome
168958    soon Dave appear glue tv band tune amazing w...        1

In [14]:
df.sample(10)

                                                  Reviews  Outcome
287790    read book course year definitely good year a...        1
294986    fully realize phrase hell break loose mean r...        1
228395    beginner book bad expect new advanced read w...        0
264313    love cardio workout dance feel like retard s...        1
349248    movie sick ending make stomach body churn no...        0
148964    Michael Moore Peter Schweizer different want...        0
285749    track easy look stay nicely wish grow train ...        1
391542    Sony Wireless Headphone arrive perfect condi...        1
46881     operate soap making business 2 year tire pro...        0
379345    book wonderfully write today teen mind help ...        1

In [22]:
x=df["Reviews"]
y=df["Outcome"]

209207    0
Name: Outcome, dtype: int64

In [15]:
import sklearn

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer()
x_tfidf=vectorizer.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_tfidf,y,test_size=0.3,random_state=0)

In [ ]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)

In [ ]:
y_pred= model.predict(x_test)

In [ ]:
from sklearn.metrics import classification_report,accuracy_score
print(f"Classification reprot \n {classification_report(y_test,y_pred)}")
print(f"Accuracy score: {accuracy_score(y_test,y_pred)}")

In [ ]:
def prediction():
  data= input ("Enter your customer review: ")
  data=tokenize(data)
  data=vectorizer.transform([data])
  data=model.predict(data)[0]
  if data==1:
    return "The customer seems interested. You should market your product to them."
  else:
    return "The customer does not seem interested. No need to market your product to them."

In [18]:
import pickle

In [ ]:
with open ("model.pkl", "wb") as obj1:
    pickle.dump(model,obj1)

In [ ]:
with open ("vectorizer.pkl","wb") as obj2:
    pickle.dump(vectorizer,obj2)